.team{
    color: white;
    padding: 20px;
    background: linear-gradient(324deg, rgb(211, 84, 38) , rgba(196, 196, 39, 0.893) , rgba(69, 143, 40, 0.849) , rgba(95, 181, 134, 0.901) , rgba(6, 162, 209, 0.953) );
}

.detailsteam{
    display: flex;
}

.logodetails img{
    width: 300px;
    height: 300px;
}

.statsdetail{
    margin-left: 20px;
    transition: 1s all;
}